extends layout 

block content 

  h2= title 
  p(style="font-size: 16px; font-weight: 300; font-style: italic;")   (#{item.category.name})
  p(class="description")= item.description 
  p(class="price")= item.price 
  p(class="stockQty")= item.numberInStock 